*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 60px;
    background: url('file:///D:/%D0%A0%D0%BE%D0%B1%D0%BE%D1%82%D0%B0/html%20progect%20test/web%20progect%20test%20%233/images/Chicken.jpg') no-repeat;
    background-size: cover; /*розтягує вибрану картинку на всю ширину екруну*/
    background-position: center; /*зміщує картинку відносно екрана*/
    background-attachment: fixed; /*при прогортуванні картинка плавно пропадає*/
}

body:after{
    position: absolute;
    z-index: -3;
    content: "";
    background-color: #0c3632;
    height: 100vh;
    width:100%;
    top: 0;
    left: 0;
    opacity: 0.55;
}