header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    /* justify-content: space-between; розділяє два елемети по краях центральніої осі. В даному випадку елемент Logo і navigation коробки Header */
    align-items: center;
    z-index: 99;
    transition: .5s ease;
}

/* Блок логотипу сайту */
header .logo {
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    filter: 
    drop-shadow(0px 0px 4px black); 
    user-select: none; /*визначає чи є можливість вибирати користувачем текст*/
    animation: slideLeft 2.2s ease forwards;
}
@keyframes slideLeft{
    0%{
        transform: translateX(150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
header .logo svg{
    height: 40px;
    width: auto;
}
/* Блок навігаційної панелі */
.navigation a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
    transition: .25s linear;
    opacity: 0;
    animation: slideTop 1.8s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
        color: rgb(255, 255, 255, 0.5);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.navigation a:hover{
    transform-origin: left;
    color:rgb(255, 255, 255, 0.5);
}
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/* Блок для кнопки входу */
.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid antiquewhite;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    color: antiquewhite;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    transition: all .5s ease;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}
.btn-login svg {
    width: 26px;
    margin-right: 10px;
    transition: all .5s ease;
}
.btn-login:hover {
    box-shadow: 0px 0 35px  rgb(255, 255, 255, 0.5) inset;
    color:rgb(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255, 0.5);
}
.btn-login:hover svg{
        animation: log 0.45s linear infinite;
}   
.btn-login:hover path {
    fill: rgb(255, 255, 255, 0.5);
}
@keyframes log {
    0%{transform: scale(1);
    }
    75%{transform: scale(1.1);
    }
}

/* Блок іконки мобільної версії сайту */
burger-wapper {
    display: none;
}

@media screen and (max-width: 992px)
{
burger-wapper{
    display: flex 
    }
.navigation, .btn-login{
    display: none
}
}

burger-wapper {
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
    /* box-shadow: 
        0 0 5px antiquewhite,
        0 0 10px antiquewhite,
        0 0 15px antiquewhite,
        0 0 20px antiquewhite;
    border-radius: 15%; */
    cursor: pointer;
}

burger-icon {
    position: relative; 
    width: 80%;
    height: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    transform: rotate(0deg);
    transition: all .5s ease;
}
burger-icon.active {
    transform: rotate(315deg) scale(.65);
    
}
burger-icon span {
    position: absolute;
    display: block;
    height: 8%;
    background: linear-gradient(45deg, antiquewhite, transparent);
    /* border: 2px solid rgb(255, 255, 255, 0.5); */
    border-radius: 30px;
    box-shadow: 
        0 0 2px antiquewhite,
        0 0 4px antiquewhite;
transition: .2s ease;
transition-delay: .3s;
}
burger-icon span:nth-child(1) {
    top: 0;
    left: 0;
    width: 50%;
    transform: translatey(0);
}
burger-icon.active span:nth-child(1) {
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    border: 1px solid rgb(255, 255, 255, 0.5);
    transform: translatey(14px);
    transition-delay: 0s;
}
burger-icon span:nth-child(2) {
    width: 100%;
    transform: scale(1);
    opacity: 1;
}
burger-icon.active span:nth-child(2) {
    transform: scale(0);
    opacity: 0;
    transition-delay: 0s;
}
burger-icon span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 50%;
    transform: rotate(0);
}
burger-icon.active span:nth-child(3) {
    bottom: 11px;
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    border: 1px solid rgb(255, 255, 255, 0.5);
    transform: rotate(90deg);
    transition-delay: 0s;
}